p {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1.25;
}

#overview {
    padding: 60px 0;
}

    #overview .hero-unit > div {
        float: left;
    }

#github-ribbon {
    position: relative;
}

    #github-ribbon a {
        position: absolute;
        top: 40px;
        right: 0;
    }

.hero-unit {
    background: transparent;
    padding: 60px 0;
}

.section-wrap {
    /*background: #f0f0f0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;*/
    border-top: 1px solid #dedede;
    -webkit-box-shadow: inset 0 5px 10px -3px #dedede;
    -moz-box-shadow: inset 0 5px 10px -3px #dedede;
    box-shadow: inset 0 5px 10px -3px #dedede;
    padding: 60px 0;
}

button[class^="icon-"]::before, button[class*="icon-"]::before,
a[class^="icon-"]::before, a[class*="icon-"]::before {
    margin-right: 10px;
}

#overview h3::before {
    margin-right: 10px;
}

#overview h3.icon-browser::before {
    position: relative;
    top: 2px;
}

#overview h3.icon-scale::before, #overview h3.icon-customize::before, #overview h3.icon-pinch::before {
    font-size: 0.8em;
}

#overview .row {
    margin-bottom: 20px;
}

#usage {
    padding-bottom: 0;
}

#usage #svg-folder {
    width: 50%;
    min-width: 320px;
    height: 400px;
    float: right;
    overflow: hidden;
}

#usage .content {
    float: left;
    width: 40%;
    margin-top: 40px;
}

#output .files, #output .span12 {
    margin-left: 0;
}

.twitter-follow-button {
    margin-top: 5px;
}

footer {
    padding: 10% 0 30px;
}

/* From: http://www.paulrhayes.com/experiments/cube-3d/touch.html */
.viewport {
    float: left;
    margin: 20px 40px 0 0;

    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 50px;
    -webkit-transform: scale(0.75,0.75);

    -moz-perspective: 800;
    -moz-perspective-origin: 50% 50px;
    -moz-transform: scale(0.75,0.75);

    perspective: 800;
    perspective-origin: 50% 50px;
    transform: scale(0.75,0.75);
}

.cube {
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);

    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);

    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

    .cube h2 {
        color: #fff;
        padding-top: 0;
        margin-top: 0;
    }

    .cube a {
        color: #fff;
    }

    .cube > div {
        position: absolute;
        height: 60px;
        width: 60px;
        padding: 20px;
        background-color: rgba(50, 50, 50, 0.6);
        font-size: 64px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        border: 1px solid #555;
        border-radius: 3px;
    }

        .cube > div span {
            font-size: 50px;
            line-height: 60px;
        }

    .cube > div:first-child  {
        -webkit-transform: rotateX(90deg) translateZ(50px);
        -moz-transform: rotateX(90deg) translateZ(50px);
        transform: rotateX(90deg) translateZ(50px);
    }

    .cube > div:nth-child(2) {
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        transform: translateZ(50px);
    }

    .cube > div:nth-child(3) {
        -webkit-transform: rotateY(90deg) translateZ(50px);
        -moz-transform: rotateY(90deg) translateZ(50px);
        transform: rotateY(90deg) translateZ(50px);
        text-align: center;
    }

    .cube > div:nth-child(4) {
        -webkit-transform: rotateY(180deg) translateZ(50px);
        -moz-transform: rotateY(180deg) translateZ(50px);
        transform: rotateY(180deg) translateZ(50px);
    }

    .cube > div:nth-child(5) {
        -webkit-transform: rotateY(-90deg) translateZ(50px);
        -moz-transform: rotateY(-90deg) translateZ(50px);
        transform: rotateY(-90deg) translateZ(50px);
    }

    .cube > div:nth-child(5) p {
        text-align: center;
        font-size: 2.77em;
        margin: 40px;
        line-height: 60px;
    }

    .cube > div:nth-child(6) {
        -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
        -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
        transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
    }

@media (max-width: 979px) {
    #github-ribbon a {
        top: -20px;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }

    #overview, .container {
        padding: 0 20px;
    }

    #overview .span4 {
        margin-bottom: 20px;
    }

    .hero-unit {
        margin-top: 20px;
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }

    #usage #svg-folder {
        width: 100%;
        height: 200px;
        float: none;
    }

    #usage .content {
        margin: 0;
        width: auto;
        float: none;
    }
}
