*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/fixtures/sandbox/*
spec/fixtures/.fontcustom-manifest.json
.DS_Store
.ruby-version
