/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_842cdcb9f0a9b5bf44769237006ede6f.eot");
  src: url("fontcustom_842cdcb9f0a9b5bf44769237006ede6f.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_842cdcb9f0a9b5bf44769237006ede6f.woff") format("woff"),
       url("fontcustom_842cdcb9f0a9b5bf44769237006ede6f.ttf") format("truetype"),
       url("fontcustom_842cdcb9f0a9b5bf44769237006ede6f.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-browser:before,
.icon-customize:before,
.icon-factory:before,
.icon-glasses:before,
.icon-graffiti:before,
.icon-lightning:before,
.icon-outlet:before,
.icon-pen:before,
.icon-pinch:before,
.icon-scale:before,
.icon-star:before,
.icon-walk:before,
.icon-windmill:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-browser:before { content: "\f100"; }
.icon-customize:before { content: "\f101"; }
.icon-factory:before { content: "\f102"; }
.icon-glasses:before { content: "\f103"; }
.icon-graffiti:before { content: "\f104"; }
.icon-lightning:before { content: "\f105"; }
.icon-outlet:before { content: "\f106"; }
.icon-pen:before { content: "\f107"; }
.icon-pinch:before { content: "\f108"; }
.icon-scale:before { content: "\f109"; }
.icon-star:before { content: "\f10a"; }
.icon-walk:before { content: "\f10b"; }
.icon-windmill:before { content: "\f10c"; }
